# Git
.git
.gitignore

# Docker build cache và file tạm
build
install
log
.cache

# Python
__pycache__
*.pyc
*.pyo
*.pyd

# IDE
.vscode
.idea

# File hệ thống
.DS_Store
Thumbs.db

# File nén
*.zip
*.tar
*.tar.gz
